@typeparam T

<div locator="deleteEntityModal" class="modal @modalClass" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteEntityModalLabel" aria-hidden="true" style="display:@modalDisplay;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 locator="deleteEntityModalTitle" class="card-title" id="deleteEntityModalLabel">Delete @Entity.Name</h5>
            </div>
            <div class="modal-body">
                <p lcoator="deleteEntityModalMessage">Are you sure you want to delete <u>@Entity.Name</u>?</p>
            </div>
            <div class="modal-footer">
                <button locator="deleteEntityModalNoButton" type="button" class="btn btn-success" data-dismiss="modal" @onclick="Close">No</button>
                <button locator="deleteEntityModalYesButton" type="button" class="btn btn-secondary" @onclick="async (args) => await DeleteEntityAsync(args, (int?)Entity.Id)" >Yes</button>
            </div>
        </div>
    </div>
</div>