@typeparam T

<div class="modal @modalClass" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteEntityModalLabel" aria-hidden="true" style="display:@modalDisplay;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title" id="deleteEntityModalLabel">Delete @Entity.Name</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <u>@Entity.Name</u>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" @onclick="Close">No</button>
                <button type="button" class="btn btn-secondary" @onclick="(args) => DeleteEntity(args, (int?)Entity.Id)" >Yes</button>
            </div>
        </div>
    </div>
</div>