@inherits TypeaheadBaseComponent<NewPlannedMealComponentViewModel>

@page "/plannedMeals/new"

<ResponseStatusComponent T=@Domain.Entities.PlannedMeal.PlannedMeal
                        Response=@ViewModel.Response
                        SuccessMessage="Mealpalnned successfully"
                        @bind-ShowDetailsInformation=@showDetailsInformation/>

<div class="card">
    <h5 class="card-header">Plan a meal</h5>
    <div class="card-body">
        <EditForm Model="_createPlannedMealModel" OnValidSubmit="OnValidSubmitAsync">
            <FluentValidationValidator />

            <div class="mb-3">
                <label for="mealSelector" class="form-label">Meal</label>
                <BlazoredTypeahead id="mealSelector" placeholder="Search by name..."
                                   SearchMethod="SearchMealsAsync"
                                   ConvertMethod="ConvertEntityToId<Domain.Entities.Meal.Meal>"
                                   EnableDropDown="true"
                                   MaximumSuggestions="ViewModel.Meals.Count"
                                   @bind-Value="_createPlannedMealModel.MealId">
                    <SelectedTemplate Context="mealId">
                        @{
                            var selectedMeal = LoadSelectedEntity<Domain.Entities.Meal.Meal>(mealId, ViewModel.Meals);

                            <text>@selectedMeal.Name</text>
                        }
                    </SelectedTemplate>
                    <ResultTemplate Context="meal">
                        @meal.Name
                    </ResultTemplate>
                </BlazoredTypeahead>
                <ValidationMessage For="() => _createPlannedMealModel.MealId" />
            </div>

            <div class="mb-3">
                <label for="ordinalNumber" class="form-label">Ordinal number</label>
                <InputNumber min="1" max="255" id="ordinalNumber" class="form-control" @bind-Value="_createPlannedMealModel.OrdinalNumber" />
                <ValidationMessage For="() => _createPlannedMealModel.OrdinalNumber" />
            </div>

            <div class="mb-3">
                <label for="forDate" class="form-label">Scheduled for</label>
                <InputDate id="forDate" class="form-control" @bind-Value="_createPlannedMealModel.ScheduledFor" />
                <ValidationMessage For="() => _createPlannedMealModel.ScheduledFor" />
            </div>

            <button type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>