@inherits BaseComponent<NewCategoryComponentViewModel>

@page "/categories/new"

<ResponseStatusComponent T=@Domain.Entities.Category.Category
                        Response=@ViewModel.Response
                        SuccessMessage="Category added successfully"
                        @bind-ShowDetailsInformation=@showDetailsInformation/>

<div class="card">
    <h5 class="card-header">Add category</h5>
    <div class="card-body">
        <EditForm Model="_createCategoryModel" OnValidSubmit="OnValidSubmitAsync">
            <FluentValidationValidator />

            <div class="mb-3">
                <label for="categoryNameText" class="form-label">Name</label>
                <InputText id="categoryNameText" class="form-control" placeholder="Provide the name..." @bind-Value="_createCategoryModel.Name" />
                <ValidationMessage For="() => _createCategoryModel.Name" />
            </div>

            <button type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>