<div class="top-row ps-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><span class="fa-solid fa-burger" aria-hidden="true"></span>Food Planner</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref plannedMealsSubMenuVisible)">
                <span class="fa-solid fa-calendar" aria-hidden="true"></span> Planned Meals
            </NavLink>
            @if (plannedMealsSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="plannedMeals" Match="NavLinkMatch.All">
                            <i class="fa-solid fa-list" aria-hidden="true"></i> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="plannedMeals/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref categoriesSubMenuVisible)">
                <span class="fa-solid fa-clipboard-list" aria-hidden="true"></span> Categories
            </NavLink>
            @if (categoriesSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-list" aria-hidden="true"></span> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="categories/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3 ">
            <NavLink class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref unitsSubMenuVisible)">
                <span class="fa-solid fa-scale-unbalanced" aria-hidden="true"></span> Units
            </NavLink>
            @if (unitsSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-list" aria-hidden="true"></span> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="categories/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>