<div class="top-row ps-4 navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href=""><span class="fa-solid fa-burger" aria-hidden="true"></span>Food Planner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleContent" aria-controls="navbarToggleContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="collapse navbar-collapse" id="navbarToggleContent">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink locator="navMenuHomeButton" class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-house" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="nav-item px-3">
            <NavLink locator="navMenuShoppingListButton" class="nav-link" href="shoppingList" Match="NavLinkMatch.All">
                <span class="fa-solid fa-clipboard-list" aria-hidden="true"></span> Shopping List
            </NavLink>
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="nav-item px-3 ">
            <NavLink locator="navMenuTogglePlannedMealsButton" class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref plannedMealsSubMenuVisible)">
                <span class="fa-solid fa-calendar" aria-hidden="true"></span> Planned Meals
            </NavLink>

            @if (plannedMealsSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAllPlannedMealsButton" class="nav-link" href="plannedMeals" Match="NavLinkMatch.All">
                            <i class="fa-solid fa-list" aria-hidden="true"></i> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAddPlannedMealButton" class="nav-link" href="plannedMeals/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3 ">
            <NavLink locator="navMenuToggleMealsButton" class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref mealsSubMenuVisible)">
                <span class="fa-solid fa-drumstick-bite" aria-hidden="true"></span> Meals
            </NavLink>
            @if (mealsSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAllMealsButton" class="nav-link" href="meals" Match="NavLinkMatch.All">
                            <i class="fa-solid fa-list" aria-hidden="true"></i> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAddMealButton" class="nav-link" href="meals/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li><hr class="dropdown-divider"></li>

        <li class="nav-item px-3">
            <NavLink locator="navMenuToggleProductsButton" class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref productsSubMenuVisible)">
                <span class="fa-solid fa-cart-shopping" aria-hidden="true"></span> Products
            </NavLink>
            @if (productsSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAllProductsButton" class="nav-link" href="products" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-list" aria-hidden="true"></span> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAddProductButton" class="nav-link" href="products/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink locator="navMenuToggleCategoriesButton" class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref categoriesSubMenuVisible)">
                <span class="fa-solid fa-clipboard-list" aria-hidden="true"></span> Categories
            </NavLink>
            @if (categoriesSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAllCategoriesButton" class="nav-link" href="categories" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-list" aria-hidden="true"></span> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAddCategoryButton" class="nav-link" href="categories/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink locator="navMenuToggleUnitsButton" class="nav-link" href="javascript: void(0);" @onclick="() => ToggleSubMenu(ref unitsSubMenuVisible)">
                <span class="fa-solid fa-scale-unbalanced" aria-hidden="true"></span> Units
            </NavLink>
            @if (unitsSubMenuVisible)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAllUnitsButton" class="nav-link" href="units" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-list" aria-hidden="true"></span> All
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink locator="navMenuAddUnitButton" class="nav-link" href="units/new" Match="NavLinkMatch.All">
                            <span class="fa-solid fa-plus" aria-hidden="true"></span> Add
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>