@typeparam T

<ul class="list-group green-list">
	@foreach (var entity in Entities)
	{
		<li locator="entitiesList" class="list-group-item">
			@if (!string.IsNullOrEmpty(PathToDetails))
			{
				<a href="@($"{PathToDetails}/{entity.Id}")">
					@entity.Name
				</a>
			}
			else
			{
				@entity.Name
			}
		</li>
	}
</ul>