a {
    color: inherit;
    text-decoration: inherit;
    display: inline-block;
    width: 100%;
}

li:hover, li:active {
    filter: brightness(96%)
}

.green-list {
    text-align: center;
}

    .green-list > :nth-child(even) {
        color: #368614;
        background-color: #dce9b5;
    }

    .green-list > :nth-child(odd) {
        color: #dce9b5;
        background-color: #66a74c;
    }
