@typeparam T

@if (ShowDetailsInformation)
{
    <div locator="responseStatusCard" class="card @detailsCssClass">
        @if (Response.Success == true)
        {
            <div class="card-header header-with-button">
                <h5 locator="responseStatusTitle" class="float-start">Success</h5>
                <button locator="responseStatusCloseButton" class="btn btn-close float-end" @onclick="Hide"></button>
            </div>
            <div class="card-body">
                <p>@SuccessMessage</p>
            </div>
        }
        else
        {
            <div class="card-header header-with-button">
                <h5 locator="responseStatusTitle" class="float-start">@Response.Error.Title</h5>
                <button locator="responseStatusCloseButton" class="btn btn-close float-end" @onclick="Hide"></button>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var detail in Response.Error.Details)
                    {
                        <li>@detail</li>
                    }
                </ul>
            </div>
        }
    </div>
    <br />
}