@inherits BaseComponent<NewUnitComponentViewModel>

@page "/units/new"

<ResponseStatusComponent T=@Domain.Entities.Unit.Unit
                        Response=@ViewModel.Response
                        SuccessMessage="Unit added successfully"
                        @bind-ShowDetailsInformation=@showDetailsInformation/>

<div class="card">
    <h5 class="card-header">Add unit</h5>
    <div class="card-body">
        <EditForm Model="_createUnitModel" OnValidSubmit="OnValidSubmitAsync">
            <FluentValidationValidator />

            <div class="mb-3">
                <label for="unitNameText" class="form-label">Name</label>
                <InputText locator="unitNameText" id="unitNameText" class="form-control" placeholder="Provide the name..." @bind-Value="_createUnitModel.Name" />
                <ValidationMessage locator="unitNameError" For="() => _createUnitModel.Name" />
            </div>

            <button locator="unitSendButton" type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>