@page "/units/{id:int}"

<ResponseStatusComponent T=@Domain.Entities.Unit.Unit
                        Response=@ViewModel.Response
                        SuccessMessage="Unit updated successfully"
                        @bind-ShowDetailsInformation=@showDetailsInformation/>

<div class="card">
    <h5 class="card-header">Update unit</h5>
    <div class="card-body">
        <EditForm Model="_createUnitModel" OnValidSubmit="OnValidSubmitAsync">
            <FluentValidationValidator />

            <div class="mb-3">
                <label for="categoryNameText" class="form-label">Name</label>
                <InputText id="categoryNameText" class="form-control" placeholder="Provide the name..." @bind-Value="_createUnitModel.Name" />
                <ValidationMessage For="() => _createUnitModel.Name" />
            </div>

            <button type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>