@inherits BaseComponent<UnitsListComponentViewModel>

@page "/units"

<div class="card">
    <h5 class="card-header">Units</h5>
    <div class="card-body">
        @if (ViewModel.Response.Success == false)
        {
            <h6 class="card-title">@ViewModel.Response.Error.Title</h6>
            <ul>
                @foreach (var detail in ViewModel.Response.Error.Details)
                {
                    <li>@detail</li>
                }
            </ul>
        }
        else if (ViewModel.Response.Success == true && ViewModel.Response.Value.Count == 0)
        {
            <h6 class="card-title">There is no data for given criteria</h6>
        }
        else
        {
            <ul class="list-group">
                @for (int i = 1; i <= ViewModel.Response.Value.Count; i++)
                {
                    if (i % 2 == 0)
                    {
                        <li class="list-group-item">@ViewModel.Response.Value[i - 1].Name</li>
                        continue;
                    }
                    <li class="list-group-item list-group-item-lightGreen">@ViewModel.Response.Value[i - 1].Name</li>
                }
            </ul>
        }
    </div>
</div>