@inherits BaseComponent<UnitsListComponentViewModel>

@page "/units"

<div class="card">
    <h5 class="card-header">Units</h5>
    <div class="card-body">
        @if (ViewModel.Response.Success == false)
        {
            <h6 class="card-title">@ViewModel.Response.Error.Title</h6>
            <ul>
                @foreach (var detail in ViewModel.Response.Error.Details)
                {
                    <li>@detail</li>
                }
            </ul>
        }
        else if (ViewModel.Response.Success == true && ViewModel.Response.Value.Count == 0)
        {
            <h6 class="card-title">There is no data for given criteria</h6>
        }
        else
        {
            <EntitiesNamesListComponent T="Domain.Entities.Unit.Unit"
                                        Entities="ViewModel.Response.Value"
                                        PathToDetails="units"/>
        }
    </div>
</div>