@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul li {
    list-style-type: none;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

/* Custom */

.header-with-button {
    padding-bottom: 0rem;
}

.green-table > tr:nth-child(even) {
    color: #368614;
    background-color: #dce9b5;
}

.green-table > tr:nth-child(odd) {
    color: #dce9b5;
    background-color: #66a74c;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

/* End of the section */

/* Bootstrap components global options */
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #368614;
    background-color: #dce9b5;
}

.validation-message {
    text-align: center;
    color: red;
}

.row-first {
    padding-top: 1%;
}

.card {
    max-width: 900px;
    margin: 0 auto;
}
/* End of the section */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
